html,
body {
text-align: center;
font-size: 32;
}
.root {
width: 100%;
height: 100%;
}
header {
width: 100%;
color: #333;
text-align: center;
font-size: re(20);
text-align: right;
height: re(60);
line-height: re(60);
color: #323232;
padding: re(0) re(80);
box-sizing: border-box;
position: fixed;
left: 0;
top: 0;
z-index: 1;
background: white;
}
.main {
padding-top: re(60);
}
aside {
color: #333;
text-align: center;
font-size: re(16);
width: re(200);
height: 100%;
vertical-align: top;
position: fixed;
left: 0;
top: re(60);
a {
    display: block;
    width: 100%;
    height: re(40);
    line-height: re(40);
    text-align: left;
    padding-left: re(20);
    color: #999;
    &.router-link-exact-active {
    color: #323232;
    font-weight: 400;
    }
}
}
.container {
color: #333;
text-align: center;
display: inline-block;
height: 100%;
width: 100%;
.inner {
    padding-top: re(20);
}
}
//模块样式
.wrap {
width: re(600);
box-shadow: 0 0 re(10) rgba(100, 100, 100, 0.2);
padding: re(20);
margin: 0 auto;
}
//代码块样式
.code {
display: inline-block;
font-size: re(16);
text-align: left;
width: re(560);
}
//标题样式
.title {
font-size: re(24);
text-align: left;
}